In [1]:
import os

In [2]:
os.getcwd()

'C:\\Users\\phani'

In [3]:
import module

In [4]:
module.addition(2,3)

5

In [8]:
from module import addition
addition(2,3)

5

In [13]:
from module import subtraction
subtraction(3,2)

1

In [17]:
from module import multiplication,division
print(multiplication(3,2))
print(division(4,2))

6
2.0

In [18]:
def num_Greater_Check(n1,n2):
    if n1>n2:
        print('n1 is greater')
    elif n1==n2:
        print('n1 and n2 are equal')
    else:
        print('n2 is greater than n1')

In [19]:
num_Greater_Check(3,2)

n1 is greater

In [25]:
def armstrong_Check(n3):
    pow=len(str(n3))
    sum=0
    for i in str(n3):
        digit=int(i)
        sum+=digit**pow
    if n3==sum:
        return 'Armstrong'
    else:
        return 'Not Armstrong'

In [27]:
armstrong_Check(154)

'Not Armstrong'

In [8]:
def primeNumberCheck(n4):
    if n4<=1:
        return False
    for i in range(2,int(n4*0.5)+1):
        if n4%i==0:
            return False
        else:
            return True

In [9]:
primeNumberCheck(14)

False

In [18]:
def caluclator(num1,num2,operation):
    if operation=='+':
        return num1+num2
    elif operation=='-':
        return num1-num2
    elif operation=='*':
        return num1*num2
    elif operation=='/':
        return num1/num2
    elif operation=='%':
        return num1%num2
    else:
        return 'Invalid Input'

In [21]:
Num1=int(input('Enter the 1st Number : '))
Num2=int(input('Enter the 2nd Number : '))
ope=input('Enter the Operation You need : ')
caluclator(Num1,Num2,ope)

Enter the 1st Number : 30
Enter the 2nd Number : 10
Enter the Operation You need : *

300

In [22]:
def fib(n):
    a=0
    b=1
    
    if n==1:
        print(a)
    else:
        print(a)
        print(b)
        for i in range(2,n):
            c=a+b
            a=b
            b=c
            print(c)
fib(10)

0
1
1
2
3
5
8
13
21
34

In [23]:
myFamily={'Parents':{'Father':'Rama Naidu','Mother':'Sujatha'},'Children':{'Son':'Phani'}}

In [26]:
myFamily['Parents']

{'Father': 'Rama Naidu', 'Mother': 'Sujatha'}

In [28]:
set1={'a','b','c','d','e','e'}
set2={'c','e','g','i','l','m'}

In [29]:
set1.union(set2)

{'a', 'b', 'c', 'd', 'e', 'g', 'i', 'l', 'm'}

In [30]:
set1.intersection(set2)

{'c', 'e'}

In [31]:
sports={'Cricket':('Sachin','Dhoni','Kohli'),'Hockey':('Sunil Chetrui')}

In [33]:
sports['Cricket']

('Sachin', 'Dhoni', 'Kohli')

In [34]:
dict1={'Name':'Phani','Age':27}

In [35]:
tup=(dict1.items())

In [36]:
tup

dict_items([('Name', 'Phani'), ('Age', 27)])

In [52]:
list1=[]
for i in range(0,100,2):
    list1.append(i)

In [53]:
len(list1)

50

In [54]:
list1.reverse()
list1

[98,
 96,
 94,
 92,
 90,
 88,
 86,
 84,
 82,
 80,
 78,
 76,
 74,
 72,
 70,
 68,
 66,
 64,
 62,
 60,
 58,
 56,
 54,
 52,
 50,
 48,
 46,
 44,
 42,
 40,
 38,
 36,
 34,
 32,
 30,
 28,
 26,
 24,
 22,
 20,
 18,
 16,
 14,
 12,
 10,
 8,
 6,
 4,
 2,
 0]

In [55]:
list1.sort()
list1

[0,
 2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 22,
 24,
 26,
 28,
 30,
 32,
 34,
 36,
 38,
 40,
 42,
 44,
 46,
 48,
 50,
 52,
 54,
 56,
 58,
 60,
 62,
 64,
 66,
 68,
 70,
 72,
 74,
 76,
 78,
 80,
 82,
 84,
 86,
 88,
 90,
 92,
 94,
 96,
 98]

In [56]:
list1.sort(reverse=True)
list1

[98,
 96,
 94,
 92,
 90,
 88,
 86,
 84,
 82,
 80,
 78,
 76,
 74,
 72,
 70,
 68,
 66,
 64,
 62,
 60,
 58,
 56,
 54,
 52,
 50,
 48,
 46,
 44,
 42,
 40,
 38,
 36,
 34,
 32,
 30,
 28,
 26,
 24,
 22,
 20,
 18,
 16,
 14,
 12,
 10,
 8,
 6,
 4,
 2,
 0]

In [58]:
list1[44]=100

In [59]:
list1

[98,
 96,
 94,
 92,
 90,
 88,
 86,
 84,
 82,
 80,
 78,
 76,
 74,
 72,
 70,
 68,
 66,
 64,
 62,
 60,
 58,
 56,
 54,
 52,
 50,
 48,
 46,
 44,
 42,
 40,
 38,
 36,
 34,
 32,
 30,
 28,
 26,
 24,
 22,
 20,
 18,
 16,
 14,
 12,
 100,
 8,
 6,
 4,
 2,
 0]

In [61]:
for i in list1:
    print(i**2)

9604
9216
8836
8464
8100
7744
7396
7056
6724
6400
6084
5776
5476
5184
4900
4624
4356
4096
3844
3600
3364
3136
2916
2704
2500
2304
2116
1936
1764
1600
1444
1296
1156
1024
900
784
676
576
484
400
324
256
196
144
10000
64
36
16
4
0

In [62]:
dict1={'Parents':{'Names':['Naidu','Sujatha'],'Age':[57,50]},'Children':'Phani'}

In [63]:
dict1

{'Parents': {'Names': ['Naidu', 'Sujatha'], 'Age': [57, 50]},
 'Children': 'Phani'}

In [65]:
dict1.keys()

dict_keys(['Parents', 'Children'])

In [67]:
del dict1['Children']

In [68]:
dict1

{'Parents': {'Names': ['Naidu', 'Sujatha'], 'Age': [57, 50]}}

In [69]:
dict1['Child']='Phani'

In [70]:
dict1

{'Parents': {'Names': ['Naidu', 'Sujatha'], 'Age': [57, 50]}, 'Child': 'Phani'}

In [71]:
str_A='Python Programming Language'

In [72]:
str_B='Best in the world'

In [76]:
str_A.find('gram')

10

In [87]:
str_A[str_A.find('gram'):14]

'gram'

In [88]:
str_B[str_B.find('world'):]

'world'

In [89]:
str_A.upper()

'PYTHON PROGRAMMING LANGUAGE'

In [90]:
str_B.upper()

'BEST IN THE WORLD'

In [92]:
str_A+' '+str_B

'Python Programming Language Best in the world'

In [99]:
list1=[1,3,4,5,6,7,8,9,11,13,15]

In [102]:
list1[-5:len(list1)-2]

[8, 9, 11]